
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Nerko+One&family=Poppins:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html{
    overflow-x: hidden;
}
body{
    width:100vw;
    
}
.navbar{
    position: fixed;
}

.navbar-brand
{
    font-family: 'Poppins';
    font-size: 5vh;
    color: white;
    padding-left: 5vh;
}
.first{
    background-color: #0071c2;
   
}

.navbar-brand:hover{
    color: white;
}
.nav-item{
    color: white;
    font-size:120%;
}
#rt{
    margin-right: 65%;
}
@media only screen and (max-width:600px){
    .nav-item{
        padding-left:5vw;
    }
}
@media only screen and (max-width:1024px){
    #rt{
        margin-right:50%;
    }
}
.img-fluid{
    border-radius: 10%;
    margin-left: 2vw;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
}
.banner-text{
    
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}
.banner-box{
    background-color: #f1f7f9;
    width: 100vw;
}
.hr{
    width:70%;
    margin: 0%;
}
.ed{
    background-color: #f7f7f7;
}

@media only screen and (max-width: 800px) {
   .hide-mob{
    display: none;}
    .form-control{
        min-width: 70%;
    }
    .fl{
        display: block;
    }
    
   }
.fl{
    display:flex;
}
.vet{
            border-left: 2px solid black;
            height: 10vw;
            position:absolute;
            left: 25vw;
}
.about{
    display: flex;
    align-items: center;
    margin-right: 5vw;
    font-size: 7vw;
}
.col-7 p{
    font-size: 3vw;
}
.about-button{
    position: absolute;
    width: 10vw;
}
.banner-button{
    position: absolute;
    margin-top: 10vw;
}
#banner{
    border: 1px solid black;
    background-color: #f1f7f9;
    color: black;
}
#banner:hover{
    background-color: #0071c2;
    color: white;
}
#about-button{
    background-color: #ffff;
    color: black;
}
#about-button:hover{
    background-color: black;
    color: white;
}
#form-button{
    width:15vw;
    margin-left: 14vw;
}

#ed{
    font-family: 'Nerko One', cursive;
}