@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    width:100vw;
    
}

.f-nav{
    position:sticky;
}
.navbar{

   
}

.navbar-brand
{
    font-family: 'Poppins';
    font-size: 5vh;
    color: white;
    padding-left: 5vh;
}
.first{
    background-color: #0071c2;
   
}

.navbar-brand:hover{
    color: white;
}
.nav-item{
    color: white;
    font-size:120%;
}
#rt{
    margin-right: 65%;
}
@media only screen and (max-width:600px){
    .nav-item{
        padding-left:5vw;
    }
}
@media only screen and (max-width:1024px){
    #rt{
        margin-right:50%;
    }
}
.img-fluid{
    border-radius: 10%;
    margin-left: 2vw;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.banner-text{
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner-box{
    background-color: #f1f7f9;
    width: 100vw;
}
.hr{
    width:70%;
    margin: 0%;
}
.ed{
    background-color: #f7f7f7;
}

@media only screen and (max-width: 800px) {
   .hide-mob{
    display: none;}
    .form-control{
        min-width: 70%;
    }

   }